/* Esse metodo funciona como o if, pois ele irá formatar o testo de
acordo a condição passada */

@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 60%;
    }
}